@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	user-select: none;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE 10+ */


	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--yellow: #ffff99;
	--red: #ff3333;
	--purple: #6600ff;
	--green: #00ff99;
	--blue: #00ccff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
	}
}

[data-theme='dark'] {
	--background: #121212;
	--foreground: #ededed;
	--card: 0 0% 3.9%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 0 0% 9%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--input: 0 0% 14.9%;
	--ring: 0 0% 83.1%;
	--chart-1: 220 70% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;
}

[data-theme='light'] {
	--background: #ededed;
	--foreground: #121212;
	--card: 0 0% 100%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--secondary: 0 0% 96.1%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	/* --border: 0 0% 89.8%; */
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	/* --radius: 0.5rem; */
}

[data-theme='desertSand'] {
	--background: #F5DEB3;
	--foreground: #333333;
	--yellow: #ffffcc;
	--red: #ff6666;
	--purple: #cc99ff;
	--green: #99ffcc;
	--blue: #99ccff;
	--card: 0 0% 100%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--secondary: 0 0% 96.1%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	/* --border: 0 0% 89.8%; */
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	/* --radius: 0.5rem; */
}

[data-theme="cyberpunk"] {
	--background: #222222;
	--foreground: #ffffff;
	--yellow: #ffd700;
	--red: #ff4500;
	--purple: #800080;
	--green: #00ff00;
	--blue: #00ffff;
	--card: 0 0% 3.9%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 0 0% 9%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--input: 0 0% 14.9%;
	--ring: 0 0% 83.1%;
	--chart-1: 220 70% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;
}

[data-theme="pastelDreams"] {
	--background: #e2cfdc;
	--foreground: #666666;
	--yellow: #ffffcc;
	--red: #ff9999;
	--purple: #cc99ff;
	--green: #99ffcc;
	--blue: #99ccff;
	--card: 0 0% 100%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--secondary: 0 0% 96.1%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	/* --border: 0 0% 89.8%; */
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	/* --radius: 0.5rem; */
}


body {
	margin: 0;
	display: flex;
	place-items: start;
	min-width: 320px;
	min-height: 100vh;
	/* color: var(--foreground);
	background: var(--background); */
	justify-content: center;
}


@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}


@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}


/* trash animation */

.icon-trash {
	transform: scale(1.5);
  	width: 28px;
  	height: 40px;
	fill: var(--foreground);
}

.trash-lid {
  	transform-origin: right bottom;
  	transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.icon-container:hover .trash-lid {
 	transform: translateY(-2px) rotate(30deg);
}